/* CSS Reset */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
form,
label,
fieldset,
input,
textarea,
button,
blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  vertical-align: baseline;
}

/* Global Styles */
body {
  /* color: #fff; */
}

a {
  color: #fff;
  text-decoration: none;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 25px 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  animation: show-content 1.5s linear forwards;
  animation-delay: 1.2s;
}

@keyframes show-content {
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.logo {
  font-size: 30px;
  font-weight: 700;
}

.navbar ul {
  display: flex;
}
.navbar ul li {
  list-style: none;
  margin-left: 35px;
}
.navbar ul li a {
  font-size: 20px;
  font-weight: 5;
  transition: 0.5s;
}

.navbar ul li a:hover,
.navbar ul li.active a {
  color: brown;
}
/* Container Styles */

/* home image box  */
.home {
  width: 600px !important;
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  animation: show-content 1.5s linear forwards;
  animation-delay: 1.6s;
  display: inline-block;
}
.home-infos h2 span {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 0.7px #7cf03d;
  animation: text-animation 16s linear infinite;
  animation-delay: calc(-4s * var(--i));
}

@keyframes text-animation {
  25%,
  100% {
    display: none;
  }
}

.home-infos h2 span::before {
  content: attr(data-text);
  position: absolute;
  width: 0%;
  border-right: 2px solid #7cf03d;
  color: #7cf03d;
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 4s linear infinite;
}
@keyframes fill-text {
  10%, 100%{
    width: 0;
  }
  70%,90%{
    width: 100%;
  }
  
}
.home .img-box {
  position: relative;
  width: 32vw;
  height: 32vw;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.home .img-box::before,
.home .img-box::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #7cf03d
  );
  transform: rotate(0deg);
  animation: rotateborder 10s linear infinite;
}
.home .img-box::after{
  animation-delay: -5s;
}
@keyframes rotateborder {
  100%{
    transform: rotate(360deg);
  }
}

.home .img-box .img-item {
  width: 100%;
  height: 100%;
  background: #1f242d;
  border: 1px solid #1f242d;
  border-radius: 50%;
  z-index: 1;
}

.bars-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  z-index: -1;
}

.bars-animation .bar {
  width: 100%;
  height: 100%;
  background-color: #1f242d;
  transform: translateY(-100%);
  animation: show-bars 0.5s ease-in-out forwards;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes show-bars {
  100% {
    transform: translateY(0%);
  }
}
